<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoliSci</title>
</head>
<body>
    <h1>voter application</h1>
    <p>enter info below to see what is coming up in your area</p>

    <input id='address' type="text" placeholder="Your Address">
    <input id='includeOffices' type="checkbox" placeholder="Should this include offices?">
    <input id='levels' type="text" placeholder="What Level of Government?">
    <input id='roles' type="text" placeholder="Which Role?">
    <button id='button' type='submit'>Button</button>

    <p id='display'></p>

    <script src="js/main.js"></script>
</body>
</html>